* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%230d1117%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%231696008a%22 fill=%22none%22 mask=%22url(%23b)%22%3E%3Cpath d=%22M333.333 0H400v66.667h-66.667zM400 0h66.667v66.667H400zM533.333 0H600v66.667h-66.667zM600 0h66.667v66.667H600zM733.333 0H800v66.667h-66.667zM800 0h66.667v66.667H800zM866.667 0h66.667v66.667h-66.667zM1133.333 0H1200v66.667h-66.667zM1200 0h66.667v66.667H1200zM1466.667 0h66.667v66.667h-66.667zM1600 0h66.667v66.667H1600zM1800 0h66.667v66.667H1800zM1866.667 0h66.667v66.667h-66.667zM66.667 66.667h66.667v66.667H66.667zM266.667 66.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M333.333 66.667H400v66.667h-66.667zM466.667 66.667h66.667v66.667h-66.667zM666.667 66.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M733.333 66.667H800v66.667h-66.667zM866.667 66.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M933.333 66.667H1000v66.667h-66.667zM1000 66.667h66.667v66.667H1000zM1266.667 66.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1333.333 66.667H1400v66.667h-66.667zM1400 66.667h66.667v66.667H1400zM1600 66.667h66.667v66.667H1600zM1733.333 66.667H1800v66.667h-66.667zM1933.333 66.667H2000v66.667h-66.667zM0 133.333h66.667V200H0zM66.667 133.333h66.667V200H66.667zM200 133.333h66.667V200H200z%22%2F%3E%3Cpath d=%22M266.667 133.333h66.667V200h-66.667zM400 133.333h66.667V200H400z%22%2F%3E%3Cpath d=%22M466.667 133.333h66.667V200h-66.667zM600 133.333h66.667V200H600zM800 133.333h66.667V200H800zM866.667 133.333h66.667V200h-66.667z%22%2F%3E%3Cpath d=%22M933.333 133.333H1000V200h-66.667zM1066.667 133.333h66.667V200h-66.667zM1200 133.333h66.667V200H1200zM1266.667 133.333h66.667V200h-66.667zM1400 133.333h66.667V200H1400zM1466.667 133.333h66.667V200h-66.667zM1600 133.333h66.667V200H1600zM1666.667 133.333h66.667V200h-66.667z%22%2F%3E%3Cpath d=%22M1733.333 133.333H1800V200h-66.667zM1800 133.333h66.667V200H1800zM1866.667 133.333h66.667V200h-66.667zM0 200h66.667v66.667H0zM66.667 200h66.667v66.667H66.667zM266.667 200h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M333.333 200H400v66.667h-66.667zM533.333 200H600v66.667h-66.667zM733.333 200H800v66.667h-66.667zM866.667 200h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M933.333 200H1000v66.667h-66.667zM1133.333 200H1200v66.667h-66.667zM1333.333 200H1400v66.667h-66.667zM1533.333 200H1600v66.667h-66.667zM1666.667 200h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1733.333 200H1800v66.667h-66.667zM1800 200h66.667v66.667H1800zM0 266.667h66.667v66.667H0zM266.667 266.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M333.333 266.667H400v66.667h-66.667zM400 266.667h66.667v66.667H400z%22%2F%3E%3Cpath d=%22M466.667 266.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M533.333 266.667H600v66.667h-66.667zM666.667 266.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M733.333 266.667H800v66.667h-66.667zM1000 266.667h66.667v66.667H1000zM1133.333 266.667H1200v66.667h-66.667zM1266.667 266.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1333.333 266.667H1400v66.667h-66.667zM1400 266.667h66.667v66.667H1400zM1666.667 266.667h66.667v66.667h-66.667zM1800 266.667h66.667v66.667H1800zM1933.333 266.667H2000v66.667h-66.667zM0 333.333h66.667V400H0zM66.667 333.333h66.667V400H66.667z%22%2F%3E%3Cpath d=%22M133.333 333.333H200V400h-66.667zM266.667 333.333h66.667V400h-66.667zM533.333 333.333H600V400h-66.667zM600 333.333h66.667V400H600zM733.333 333.333H800V400h-66.667zM800 333.333h66.667V400H800zM1000 333.333h66.667V400H1000zM1066.667 333.333h66.667V400h-66.667z%22%2F%3E%3Cpath d=%22M1133.333 333.333H1200V400h-66.667zM1400 333.333h66.667V400H1400zM1466.667 333.333h66.667V400h-66.667z%22%2F%3E%3Cpath d=%22M1533.333 333.333H1600V400h-66.667zM1666.667 333.333h66.667V400h-66.667z%22%2F%3E%3Cpath d=%22M1733.333 333.333H1800V400h-66.667zM1800 333.333h66.667V400H1800zM1866.667 333.333h66.667V400h-66.667zM0 400h66.667v66.667H0zM133.333 400H200v66.667h-66.667zM200 400h66.667v66.667H200z%22%2F%3E%3Cpath d=%22M266.667 400h66.667v66.667h-66.667zM533.333 400H600v66.667h-66.667zM600 400h66.667v66.667H600zM866.667 400h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M933.333 400H1000v66.667h-66.667zM1000 400h66.667v66.667H1000zM1200 400h66.667v66.667H1200zM1466.667 400h66.667v66.667h-66.667zM1733.333 400H1800v66.667h-66.667zM1800 400h66.667v66.667H1800zM1933.333 400H2000v66.667h-66.667zM0 466.667h66.667v66.667H0zM66.667 466.667h66.667v66.667H66.667zM266.667 466.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M333.333 466.667H400v66.667h-66.667zM400 466.667h66.667v66.667H400zM533.333 466.667H600v66.667h-66.667zM600 466.667h66.667v66.667H600zM666.667 466.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M733.333 466.667H800v66.667h-66.667zM800 466.667h66.667v66.667H800zM866.667 466.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M933.333 466.667H1000v66.667h-66.667zM1000 466.667h66.667v66.667H1000zM1266.667 466.667h66.667v66.667h-66.667zM1466.667 466.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1533.333 466.667H1600v66.667h-66.667zM1666.667 466.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1733.333 466.667H1800v66.667h-66.667zM1866.667 466.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1933.333 466.667H2000v66.667h-66.667zM66.667 533.333h66.667V600H66.667z%22%2F%3E%3Cpath d=%22M133.333 533.333H200V600h-66.667zM200 533.333h66.667V600H200zM333.333 533.333H400V600h-66.667zM400 533.333h66.667V600H400zM533.333 533.333H600V600h-66.667zM800 533.333h66.667V600H800zM866.667 533.333h66.667V600h-66.667z%22%2F%3E%3Cpath d=%22M933.333 533.333H1000V600h-66.667zM1066.667 533.333h66.667V600h-66.667zM1200 533.333h66.667V600H1200zM1266.667 533.333h66.667V600h-66.667zM1533.333 533.333H1600V600h-66.667zM1733.333 533.333H1800V600h-66.667zM1800 533.333h66.667V600H1800zM1933.333 533.333H2000V600h-66.667zM0 600h66.667v66.667H0zM133.333 600H200v66.667h-66.667zM200 600h66.667v66.667H200z%22%2F%3E%3Cpath d=%22M266.667 600h66.667v66.667h-66.667zM466.667 600h66.667v66.667h-66.667zM666.667 600h66.667v66.667h-66.667zM866.667 600h66.667v66.667h-66.667zM1066.667 600h66.667v66.667h-66.667zM1200 600h66.667v66.667H1200zM1333.333 600H1400v66.667h-66.667zM1800 600h66.667v66.667H1800zM0 666.667h66.667v66.667H0zM66.667 666.667h66.667v66.667H66.667zM200 666.667h66.667v66.667H200z%22%2F%3E%3Cpath d=%22M266.667 666.667h66.667v66.667h-66.667zM800 666.667h66.667v66.667H800zM866.667 666.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M933.333 666.667H1000v66.667h-66.667zM1066.667 666.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1133.333 666.667H1200v66.667h-66.667zM1333.333 666.667H1400v66.667h-66.667zM1400 666.667h66.667v66.667H1400zM1600 666.667h66.667v66.667H1600zM1666.667 666.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1733.333 666.667H1800v66.667h-66.667zM0 733.333h66.667V800H0zM133.333 733.333H200V800h-66.667zM266.667 733.333h66.667V800h-66.667zM400 733.333h66.667V800H400zM533.333 733.333H600V800h-66.667zM733.333 733.333H800V800h-66.667zM866.667 733.333h66.667V800h-66.667z%22%2F%3E%3Cpath d=%22M933.333 733.333H1000V800h-66.667zM1000 733.333h66.667V800H1000zM1200 733.333h66.667V800H1200zM1333.333 733.333H1400V800h-66.667zM1400 733.333h66.667V800H1400zM1466.667 733.333h66.667V800h-66.667z%22%2F%3E%3Cpath d=%22M1533.333 733.333H1600V800h-66.667zM1600 733.333h66.667V800H1600zM1666.667 733.333h66.667V800h-66.667zM1800 733.333h66.667V800H1800zM1933.333 733.333H2000V800h-66.667zM466.667 800h66.667v66.667h-66.667zM1000 800h66.667v66.667H1000zM1066.667 800h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1133.333 800H1200v66.667h-66.667zM1266.667 800h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1333.333 800H1400v66.667h-66.667zM1533.333 800H1600v66.667h-66.667zM1600 800h66.667v66.667H1600zM1733.333 800H1800v66.667h-66.667zM1800 800h66.667v66.667H1800zM1866.667 800h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1933.333 800H2000v66.667h-66.667zM66.667 866.667h66.667v66.667H66.667zM466.667 866.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M533.333 866.667H600v66.667h-66.667zM600 866.667h66.667v66.667H600zM666.667 866.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M733.333 866.667H800v66.667h-66.667zM800 866.667h66.667v66.667H800zM933.333 866.667H1000v66.667h-66.667zM1266.667 866.667h66.667v66.667h-66.667zM1466.667 866.667h66.667v66.667h-66.667zM1600 866.667h66.667v66.667H1600zM1666.667 866.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1733.333 866.667H1800v66.667h-66.667zM0 933.333h66.667V1000H0zM66.667 933.333h66.667V1000H66.667z%22%2F%3E%3Cpath d=%22M133.333 933.333H200V1000h-66.667zM333.333 933.333H400V1000h-66.667zM466.667 933.333h66.667V1000h-66.667zM866.667 933.333h66.667V1000h-66.667z%22%2F%3E%3Cpath d=%22M933.333 933.333H1000V1000h-66.667zM1200 933.333h66.667V1000H1200zM1266.667 933.333h66.667V1000h-66.667z%22%2F%3E%3Cpath d=%22M1333.333 933.333H1400V1000h-66.667zM1400 933.333h66.667V1000H1400zM1466.667 933.333h66.667V1000h-66.667zM1600 933.333h66.667V1000H1600zM1866.667 933.333h66.667V1000h-66.667z%22%2F%3E%3Cpath d=%22M1933.333 933.333H2000V1000h-66.667zM0 1000h66.667v66.667H0zM66.667 1000h66.667v66.667H66.667z%22%2F%3E%3Cpath d=%22M133.333 1000H200v66.667h-66.667zM200 1000h66.667v66.667H200zM533.333 1000H600v66.667h-66.667zM666.667 1000h66.667v66.667h-66.667zM800 1000h66.667v66.667H800zM1133.333 1000H1200v66.667h-66.667zM1333.333 1000H1400v66.667h-66.667zM1400 1000h66.667v66.667H1400zM1466.667 1000h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1533.333 1000H1600v66.667h-66.667zM1733.333 1000H1800v66.667h-66.667zM1866.667 1000h66.667v66.667h-66.667zM66.667 1066.667h66.667v66.667H66.667zM200 1066.667h66.667v66.667H200zM333.333 1066.667H400v66.667h-66.667zM400 1066.667h66.667v66.667H400z%22%2F%3E%3Cpath d=%22M466.667 1066.667h66.667v66.667h-66.667zM666.667 1066.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M733.333 1066.667H800v66.667h-66.667zM800 1066.667h66.667v66.667H800zM866.667 1066.667h66.667v66.667h-66.667zM1066.667 1066.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1133.333 1066.667H1200v66.667h-66.667zM1200 1066.667h66.667v66.667H1200zM1466.667 1066.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1533.333 1066.667H1600v66.667h-66.667zM1600 1066.667h66.667v66.667H1600zM1666.667 1066.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1733.333 1066.667H1800v66.667h-66.667zM1866.667 1066.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1933.333 1066.667H2000v66.667h-66.667zM0 1133.333h66.667V1200H0zM66.667 1133.333h66.667V1200H66.667z%22%2F%3E%3Cpath d=%22M133.333 1133.333H200V1200h-66.667zM400 1133.333h66.667V1200H400z%22%2F%3E%3Cpath d=%22M466.667 1133.333h66.667V1200h-66.667zM600 1133.333h66.667V1200H600zM733.333 1133.333H800V1200h-66.667zM866.667 1133.333h66.667V1200h-66.667zM1000 1133.333h66.667V1200H1000zM1266.667 1133.333h66.667V1200h-66.667z%22%2F%3E%3Cpath d=%22M1333.333 1133.333H1400V1200h-66.667zM1533.333 1133.333H1600V1200h-66.667zM1866.667 1133.333h66.667V1200h-66.667z%22%2F%3E%3Cpath d=%22M1933.333 1133.333H2000V1200h-66.667zM200 1200h66.667v66.667H200z%22%2F%3E%3Cpath d=%22M266.667 1200h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M333.333 1200H400v66.667h-66.667zM533.333 1200H600v66.667h-66.667zM866.667 1200h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M933.333 1200H1000v66.667h-66.667zM1066.667 1200h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1133.333 1200H1200v66.667h-66.667zM1400 1200h66.667v66.667H1400zM1533.333 1200H1600v66.667h-66.667zM1600 1200h66.667v66.667H1600zM1666.667 1200h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1733.333 1200H1800v66.667h-66.667zM1866.667 1200h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1933.333 1200H2000v66.667h-66.667zM66.667 1266.667h66.667v66.667H66.667z%22%2F%3E%3Cpath d=%22M133.333 1266.667H200v66.667h-66.667zM200 1266.667h66.667v66.667H200zM466.667 1266.667h66.667v66.667h-66.667zM600 1266.667h66.667v66.667H600zM666.667 1266.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M733.333 1266.667H800v66.667h-66.667zM800 1266.667h66.667v66.667H800zM866.667 1266.667h66.667v66.667h-66.667zM1000 1266.667h66.667v66.667H1000zM1133.333 1266.667H1200v66.667h-66.667zM1466.667 1266.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1533.333 1266.667H1600v66.667h-66.667zM1666.667 1266.667h66.667v66.667h-66.667z%22%2F%3E%3Cpath d=%22M1733.333 1266.667H1800v66.667h-66.667zM1933.333 1266.667H2000v66.667h-66.667zM0 1333.333h66.667V1400H0zM133.333 1333.333H200V1400h-66.667zM200 1333.333h66.667V1400H200zM333.333 1333.333H400V1400h-66.667zM466.667 1333.333h66.667V1400h-66.667z%22%2F%3E%3Cpath d=%22M533.333 1333.333H600V1400h-66.667zM866.667 1333.333h66.667V1400h-66.667zM1000 1333.333h66.667V1400H1000zM1133.333 1333.333H1200V1400h-66.667zM1200 1333.333h66.667V1400H1200zM1266.667 1333.333h66.667V1400h-66.667z%22%2F%3E%3Cpath d=%22M1333.333 1333.333H1400V1400h-66.667zM1533.333 1333.333H1600V1400h-66.667zM1600 1333.333h66.667V1400H1600zM1800 1333.333h66.667V1400H1800zM1866.667 1333.333h66.667V1400h-66.667z%22%2F%3E%3Cpath d=%22M1933.333 1333.333H2000V1400h-66.667z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
  color: #c9d1d9;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
body main .toggle {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}
body main .toggle span {
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.8rem;
  border: 1px solid #39ff14;
  background-color: #112b11;
  color: #39ff14;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  text-align: center;
}
body main .toggle span:nth-child(2) {
  color: #d9d9d9;
  border: 1px solid #d9d9d9;
  background-color: transparent;
}
body main .alert {
  transition: all 0.3s ease;
  opacity: 0;
  font-size: 0.8rem;
  border: 1px solid #39ff14;
  background-color: #112b11;
  color: #39ff14;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  text-align: center;
}
body main input {
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  width: 90%;
  height: 20%;
  border-radius: 5px;
  border: 1px solid #30363d;
  background-color: rgba(22, 27, 34, 0.5333333333);
  padding: 10px;
  font-size: 16px;
  color: #c9d1d9;
}
body main pre {
  width: 90%;
  height: 25%;
}
body main pre .output {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 1.5;
  position: relative;
  font-weight: 900;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #30363d;
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  background-color: rgba(22, 27, 34, 0.5333333333);
  font-size: 1.5rem;
  line-height: 1.5;
  color: #169600;
  overflow-y: auto;
}
body main button {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #179b00;
  color: #0d1117;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}
body main button:hover {
  background-color: #2ecc71;
}
body main button:active {
  transform: scale(0.95);
}
body main .clear {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: none;
  border: 1px solid transparent;
  background-color: transparent;
  color: #0d1117;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  background-color: #ff6b6b;
}
body main .clear:hover {
  background-color: #f83c3c;
  border: 2px solid #330000;
  color: #0d1117;
}

.invalid {
  font-size: 0.7rem;
  border: 1px solid #ff6b6b;
  background-color: #330000;
  color: #ff6b6b;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  width: 90%;
  text-align: center;
}

.copy {
  opacity: 0;
  top: 0;
  right: 10px;
  font-size: 1rem;
  background-color: #00bd1c;
  color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid transparent;
  text-align: center;
  cursor: pointer;
}
.copy:hover {
  background-color: transparent;
  color: #00bd1c;
  border: 1px solid #00bd1c;
}
.copy:active {
  transform: scale(0.95);
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  main h1 {
    text-align: center;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */